* {
	box-sizing: border-box;
	outline: none;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    //font-style: italic;
    text-transform: uppercase;
}

body {
	margin: 0;
}

.header {
    background: #222;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 200px;
    height: 100%;
    padding-right: 10px;
}

.header-title {
    color: #fff;
    margin: 0;
}

.searchbar {
    width: 100%;
	display: flex;
    justify-content: center;
    padding: 30px;
    background: #fff;
}

.search {    
	width: 300px;
    height: 50px;
    border: 3px solid #8d00d6;
    border-radius: 3px;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.btn {
	background: #22f5a7;
    border: 0;
    padding: 0 30px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.images {
	width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img {
	min-height: 200px;
	width: 30%;
    height: 100%;
    margin: 1%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.5s;
}